{% load static %}
<!doctype html>
<html lang="uz">
<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Abdulhafiz Davlatov">
    <meta name="publisher" content="Abdulhafiz Davlatov">
    <meta name="description" content="Abdulhafiz Davlatov - Full stack Developer">
    <link rel="shortcut icon" href="{% static 'auzcoder/img/favico.png' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&amp;display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;1,300&amp;display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/LineIcons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/color/sky-blue.css' %}" id="option-color-two">
    <link rel="stylesheet" href="{% static 'assets/css/colorfull.css' %}">

    <title>Auzcoder</title>
</head>
<body>

<!-- Berkay Şen -->
<div data-spy="scroll" data-target="#scrollspy" data-offset="61" class="westin-dark" xmlns="http://www.w3.org/1999/html">
    <header id="header" class="header fixed-top">
        <nav id="scrollspy" class="navbar navbar-expand-lg header-nav">
            <div class="container">
                <a class="navbar-brand base-color" href="{% url 'home' %}">Abdulhafiz Davlatov</a>
                <button class="navbar-toggler collapsed " type="button" data-toggle="collapse"
                        data-target="#toggle-menu"
                        aria-controls="toggle-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="lni lni-menu"></span>
                </button>
                <div class="collapse navbar-collapse" id="toggle-menu">
                    <ul class="navbar-nav nav-pills ml-auto">
                        <li class="nav-item">
                            <span class="badge badge-pill badge-danger"
                                  style="float:right;margin-bottom:-20px;margin-right:-4px;font-size:10px">New </span>
                            <a class="nav-link"
                               href="lesson-series/index.html">Darslarim</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link "
                               href="projects/index.html">Lohiyalarim</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link "
                               href="articles/index.html">Maqolalar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link "
                               href="certificates/index.html"> Sertifikatlarim</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="seminars/index.html">Seminars</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="#testimonial">Haqida</a>
                        </li>

                        <li class="nav-item" style="padding: 5px;margin:0;">
                            <div class="dropdown">
                                <button class="btn btn-secondary btn-sm dropdown-toggle " style="padding: 5px;margin:0;"
                                        type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false">

                                    <img src="../static/assets/img/en_flag.png" alt="en_flag_image" width="22"
                                         height="17" loading="lazy"> UZ

                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton"
                                     style="background-color: #181A1B;margin:0;min-width:8rem">

                                    <a class="dropdown-item" style="padding-left: 15px" href="{% url 'set-lang' 'uz' %}">
                                        <img src="../static/assets/img/tr_flag.png" width="22" height="17px" alt="tr_flag_image">
                                        O'zbek
                                    </a>
                                    <a class="dropdown-item" style="padding-left: 15px" href="{% url 'set-lang' 'en' %}">
                                        <img src="../static/assets/img/en_flag.png" width="22" height="17" alt="en_flag_image">
                                        English
                                    </a>

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section class="hero-03" id="hero">
        <div class="container">
            <div class="hero-content">

                <div class="row">
                    <div class=" col-lg-4">
                        <div class="personal-img">
                            <img src="static/auzcoder/me.jpg" style="max-width: 100%;width:500px" alt="/">
                        </div>
                    </div>
                    <div class="col-lg-8 personal-item">
                        <h1 class="mb-3">Abdulhafiz Davlatov</h1>
                        <h2>Full stack Python Developer</h2>
                        <div class="row">
                            <div class="col-6 col-lg-5 personal-info">
                                <ul class="list-unstyled">
                                    <li>Manzil :
                                        <small> Namangan / Uzbekistan</small>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-6 col-lg-5 personal-info">
                                <ul class="list-unstyled">
                                    <li>Email : <small>auz.offical@gmail.com</small></li>
                                </ul>
                            </div>
                            <div class="col-lg-12">
                                <div class="social-icon">
                                    <ul class="list-inline py-2 mb-0">

                                        <li class="list-inline-item">
                                            <a href="https://github.com/auzcoder" target="_blank">
                                                <img src="{% static 'assets/img/github.svg' %}" alt="/">
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="https://www.linkedin.com/in/auzcoder/" target="_blank">
                                                <img src="{% static 'assets/img/linkedin.svg' %}" alt="/">
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="about" class="about-03 py-6 ">
        <div class="container">

            <div class="skills-01">
                <div class="row mt-0 mt-lg-5">
                    <div class="col-lg-6">
                        <h3 class="base-color">Ko'nikmalar</h3>
                        <p class="text-left">
                            I Have Developed Myself From Various Sources In Web Application Development,
                            And I Take An Active Role In Many Areas From Teaching Them At My University To Explaining /
                            Transferring
                            The Information I Have Learned Through Practice, Through Articles I Write.
                            I Am Proficient In Python, Django, Django Rest Framework, Sql, PostgreSQL, Relational
                            Databases, Html, Css, Javascript, Basic Bootstrap, Vuejs, Linux, Performing Penetration
                            Tests.
                        </p>
                    </div>
                    <div class="col-lg-6">
                        <div id="skills">

                            <div class="col-lg-12 skill-box">
                                <div class="skillbar clearfix" data-percent="100%">
                                    <div class="skillbar-title"><span>Python</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar">

                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 skill-box">
                                <div class="skillbar clearfix" data-percent="100%">
                                    <div class="skillbar-title"><span>Django</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar">

                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 skill-box">
                                <div class="skillbar clearfix" data-percent="100%">
                                    <div class="skillbar-title"><span>Django Rest Framework</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar">

                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 skill-box">
                                <div class="skillbar clearfix" data-percent="100%">
                                    <div class="skillbar-title"><span>PostgreSQL and Sql</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar">

                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 skill-box">
                                <div class="skillbar clearfix" data-percent="100%">
                                    <div class="skillbar-title"><span>Linux</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar">

                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 skill-box">
                                <div class="skillbar clearfix" data-percent="100%">
                                    <div class="skillbar-title"><span>Vuejs</span></div>
                                    <div class="skillbar-bar"></div>
                                    <div class="skill-bar">

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <div class="resume-01 pt-6">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title-box-03">
                            <h2 class="title-header">Rezyume</h2>
                            <p>Siz mening tajribam va ta'lim haqidagi ma'lumotni shu yerda olishingiz mumkin.</p>
                        </div>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-md-6">
                        <h5 class="title-resume">
                            <img src="{% static 'assets/img/reading.svg' %}" alt="/">
                            Tajriba
                        </h5>
                        <div class="timeline-boxes">

                            {% for i in tajriba %}
                                <div class="timeline-boxe">
                                    <div class="timeline-icon"></div>
                                    <div class="timeline-contents">
                                        <div class="time-line-header">
                                            <h6 class="timeline-title">{{ i.name }}</h6>
                                            <p class="timeline-year">
                                                {{ i.started_at | date:'m.Y' }} -
                                                {% if not i.ended_at == None %}
                                                    {{ i.ended_at | date:'m.Y' }}
                                                {% else %}
                                                    Hozirda
                                                {% endif %}
                                            </p>
                                            <p class="timeline-year" style="background-color: #19b400">
                                                {{ i.center }}
                                            </p>
                                        </div>
                                        <div class="timeline-content">
                                            <p class="mb-0">
                                                {{ i.content | safe }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            {% for i in tajriba_old %}
                                <div class="timeline-boxe">
                                    <div class="timeline-icon"></div>
                                    <div class="timeline-contents">
                                        <div class="time-line-header">
                                            <h6 class="timeline-title">{{ i.name }}</h6>
                                            <p class="timeline-year">
                                                {{ i.started_at | date:'m.Y' }} -
                                                {% if not i.ended_at == None %}
                                                    {{ i.ended_at | date:'m.Y' }}
                                                {% else %}
                                                    Hozirda
                                                {% endif %}
                                            </p>
                                            <p class="timeline-year" style="background-color: #19b400">
                                                {{ i.center }}
                                            </p>
                                        </div>
                                        <div class="timeline-content">
                                            <p class="mb-0">
                                                {{ i.content | safe }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                    <div class="col-md-6">
                        <h5 class="title-resume">
                            <img src="../static/assets/img/graduated.svg" alt="/">
                            Ta'lim
                        </h5>
                        <div class="timeline-boxes">

                            <div class="timeline-boxe">
                                <div class="timeline-icon"></div>
                                <div class="timeline-contents">
                                    <div class="time-line-header">
                                        <h6 class="timeline-title">Gümüşpala Vocational and Technical Anatolian High
                                            School</h6>
                                        <p class="timeline-year">2015 - 2019</p>

                                    </div>
                                    <div class="timeline-content">
                                        <p class="mb-0">After completing my education and training for 4 years at
                                            Gümüşpala Vocational and Technical Anatolian High School, I graduated in
                                            2019.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="timeline-boxe">
                                <div class="timeline-icon"></div>
                                <div class="timeline-contents">
                                    <div class="time-line-header">
                                        <h6 class="timeline-title">Yalova University</h6>
                                        <p class="timeline-year">2020 - 2022</p>

                                        <p class="timeline-year"
                                           style="background-color: #008187">Computer Programming</p>

                                    </div>
                                    <div class="timeline-content">
                                        <p class="mb-0">I continue my education and training life in Yalova University
                                            Computer Programming department with an average grade of 3.66/4.00.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>


    <section id="certificates" class="blog-01 py-6 bg-grey ">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-box-03">
                        <h2 class="title-header">Loyihalar</h2>
                        <p>Men ishlab chiqqan yirik loyihalarimga shu yerda kirishingiz mumkin. Tafsilotlar uchun
                            loyihani bosing.</p>
                    </div>
                </div>
            </div>
            <div class="row mt-4">

                <div class="col-md-6 col-lg-4 infinite-item">
                    <div class="blog-item" style="max-height: 530px;min-height: 530px">
                        <a href="projects/django-e-commerce-system/index.html">
                            <div class="image-blog">
                                <img src="https://brktrl.s3.eu-central-1.amazonaws.com/projects/Django+E+TRADE+SYSTEM+(3).png"
                                     alt="/">
                            </div>
                        </a>
                        <div class="blog-box">
                            <div class="blog-time text-center badge-success m-2" style="border-radius: 10px">Nov. 2,
                                2021
                            </div>
                            <h5 class="Blog-title mb-0 text-center"><a href="#">Django E-Commerce System</a></h5>
                            <div align="center">
                                <span class="badge badge-danger">Python</span>
                                <span class="badge badge-primary">Django</span>
                                <span class="badge badge-warning">PostgreSQL</span>
                            </div>
                            <p class="mb-0 text-center">An e-commerce system that I developed using Python Django and
                                Postgresql technologies.</p>
                            <div class="blog-link">
                            </div>
                        </div>
                        <div align="center">
                            <a href="projects/django-e-commerce-system/index.html" class="btn btn-outline-danger mt-3">Details</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 infinite-item">
                    <div class="blog-item" style="max-height: 530px;min-height: 530px">
                        <a href="projects/django-instagram-clone/index.html">
                            <div class="image-blog">
                                <img src="https://brktrl.s3.eu-central-1.amazonaws.com/projects/Django+E+TRADE+SYSTEM+(1).png"
                                     alt="/">
                            </div>
                        </a>
                        <div class="blog-box">
                            <div class="blog-time text-center badge-success m-2" style="border-radius: 10px">Feb. 14,
                                2022
                            </div>
                            <h5 class="Blog-title mb-0 text-center"><a href="#">Django Instagram Clone</a></h5>
                            <div align="center">


                                <span class="badge badge-danger">Python</span>


                                <span class="badge badge-primary">Django</span>


                                <span class="badge badge-warning">Rest Framework</span>


                                <span class="badge badge-success">React Native</span>


                                <span class="badge badge-info">PostgreSQL</span>


                            </div>
                            <p class="mb-0 text-center">Instagram Clone Mobile Application that we developed using
                                Django Rest Framework and React Native</p>
                            <div class="blog-link">
                            </div>
                        </div>
                        <div align="center">
                            <a href="projects/django-instagram-clone/index.html" class="btn btn-outline-danger mt-3">Details</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 infinite-item">
                    <div class="blog-item" style="max-height: 530px;min-height: 530px">
                        <a href="projects/django-e-trade-web-app/index.html">
                            <div class="image-blog">
                                <img src="https://brktrl.s3.eu-central-1.amazonaws.com/projects/Django+E+TRADE+SYSTEM+(2).png"
                                     alt="/">
                            </div>
                        </a>
                        <div class="blog-box">
                            <div class="blog-time text-center badge-success m-2" style="border-radius: 10px">March 13,
                                2022
                            </div>
                            <h5 class="Blog-title mb-0 text-center"><a href="#">Django E-Commerce System - 2</a></h5>
                            <div align="center">


                                <span class="badge badge-danger">Python</span>


                                <span class="badge badge-primary">Django</span>


                                <span class="badge badge-warning">PostgreSQL</span>


                            </div>
                            <p class="mb-0 text-center">A comprehensive e-commerce system project developed using Python
                                Django Framework.</p>
                            <div class="blog-link">
                            </div>
                        </div>
                        <div align="center">
                            <a href="projects/django-e-trade-web-app/index.html" class="btn btn-outline-danger mt-3">Details</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="container">
            <a href="projects/index.html" class="btn btn-block pill-button-01 mt-5">Barcha loyihalar</a>
        </div>
    </section>

    <section id="certificates" class="blog-01 py-6 bg-grey">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-box-03">
                        <h2 class="title-header">Sertifikatlar</h2>
                        <p>Men dasturiy ta'minot va kiberxavfsizlik sohasida olgan sertifikatlarim bilan bu yerda
                            tanishishingiz mumkin.</p>
                    </div>
                </div>
            </div>
            <div class="row mt-4">

                <div class="col-md-6 col-lg-4 infinite-item">
                    <div class="blog-item" style="max-height: 600px;min-height: 600px">
                        <a href="certificates/orta-seviye-django-patikasi/index.html">
                            <div class="image-blog">
                                <img src="https://brktrl.s3.eu-central-1.amazonaws.com/certificates/Orta+Seviye+Django+ile+Web+Development+Patikası.jpeg"
                                     alt="/" width="100%" height="240px">
                            </div>
                        </a>
                        <div class="blog-box">
                            <div class="blog-time text-center badge-success m-2" style="border-radius: 10px">Feb. 22,
                                2022
                            </div>
                            <h5 class="Blog-title mb-0 text-center"><a href="#">Intermediate Django Trail</a></h5>
                            <div align="center">
                                <span class="badge badge-danger">Django</span>
                            </div>
                            <p class="mb-0 text-center">I have been awarded this certificate by successfully completing
                                this training series, which is a comprehensive path from OOP to a…</p>
                            <div class="blog-link">
                            </div>
                        </div>
                        <div class="blog-time mt-3 text-center">Patika</div>
                        <div align="center">
                            <a href="certificates/orta-seviye-django-patikasi/index.html"
                               class="btn btn-outline-warning mt-3">Details</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 infinite-item">
                    <div class="blog-item" style="max-height: 600px;min-height: 600px">
                        <a href="certificates/django-web-uygulama-teknolojileri/index.html">
                            <div class="image-blog">
                                <img src="https://brktrl.s3.eu-central-1.amazonaws.com/certificates/Web+Application+Technologies+and+Django.jpeg"
                                     alt="/" width="100%" height="240px">
                            </div>
                        </a>
                        <div class="blog-box">
                            <div class="blog-time text-center badge-success m-2" style="border-radius: 10px">Feb. 27,
                                2022
                            </div>
                            <h5 class="Blog-title mb-0 text-center"><a href="#">Django Web Application Technologies</a>
                            </h5>
                            <div align="center">
                                <span class="badge badge-danger">Django</span>
                            </div>
                            <p class="mb-0 text-center">I was successful in homework and exams in the django training
                                series of the University of Michigan and won this certificate.</p>
                            <div class="blog-link">
                            </div>
                        </div>
                        <div class="blog-time mt-3 text-center">Michigan University</div>
                        <div align="center">
                            <a href="certificates/django-web-uygulama-teknolojileri/index.html"
                               class="btn btn-outline-warning mt-3">Details</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 infinite-item">
                    <div class="blog-item" style="max-height: 600px;min-height: 600px">
                        <a href="certificates/odtu-sizma-testine-giris/index.html">
                            <div class="image-blog">
                                <img src="https://brktrl.s3.eu-central-1.amazonaws.com/certificates/sizma+testi+odtü.png"
                                     alt="/" width="100%" height="240px">
                            </div>
                        </a>
                        <div class="blog-box">
                            <div class="blog-time text-center badge-success m-2" style="border-radius: 10px">April 14,
                                2022
                            </div>
                            <h5 class="Blog-title mb-0 text-center"><a href="#">Introduction to ODTÜ Penetration
                                Test</a></h5>
                            <div align="center">
                                <span class="badge badge-danger">Cyber Security</span>
                            </div>
                            <p class="mb-0 text-center">I was entitled to receive this certificate from ODTÜ by
                                successfully completing the comprehensive penetration test entrance train…</p>
                            <div class="blog-link">
                            </div>
                        </div>
                        <div class="blog-time mt-3 text-center">ODTÜ</div>
                        <div align="center">
                            <a href="certificates/odtu-sizma-testine-giris/index.html"
                               class="btn btn-outline-warning mt-3">Details</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="container">
            <a href="certificates/index.html" class="btn btn-block pill-button-01 mt-5">All My Certificates</a>
        </div>
    </section>


    <section id="galleries" class="blog-01 py-6 bg-grey">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-box-03">
                        <h2 class="title-header">My Training and Seminars</h2>
                        <p>You can reach the visuals of the trainings and seminars I have given in the field of software
                            and cyber security.</p>
                    </div>
                </div>
            </div>
            <div class="row mt-4">

                <div class="col-md-6 col-lg-4 infinite-item">
                    <div class="blog-item">
                        <a>
                            <div class="image-blog">
                                <img src="https://brktrl.s3.eu-central-1.amazonaws.com/user/17.jpg" alt="/" width="100%"
                                     height="240px">
                            </div>
                        </a>
                        <div class="blog-box">
                            <h5 class="Blog-title mb-4 mt-4 text-center"><a class="btn btn-danger">XSS Training</a></h5>
                            <p class="mb-0 text-center"></p>
                            <div class="blog-link">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 infinite-item">
                    <div class="blog-item">
                        <a>
                            <div class="image-blog">
                                <img src="https://brktrl.s3.eu-central-1.amazonaws.com/user/24.jpg" alt="/" width="100%"
                                     height="240px">
                            </div>
                        </a>
                        <div class="blog-box">
                            <h5 class="Blog-title mb-4 mt-4 text-center"><a class="btn btn-danger">Database-2
                                Training</a></h5>
                            <p class="mb-0 text-center"></p>
                            <div class="blog-link">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 infinite-item">
                    <div class="blog-item">
                        <a>
                            <div class="image-blog">
                                <img src="https://brktrl.s3.eu-central-1.amazonaws.com/user/26.jpg" alt="/" width="100%"
                                     height="240px">
                            </div>
                        </a>
                        <div class="blog-box">
                            <h5 class="Blog-title mb-4 mt-4 text-center"><a class="btn btn-danger">SQL Injection
                                Training</a></h5>
                            <p class="mb-0 text-center"></p>
                            <div class="blog-link">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="container">
            <a href="seminars/index.html" class="btn btn-block pill-button-01 mt-5">All My Trainings and Seminars</a>
        </div>
    </section>


    <section id="blog" class="blog-01 py-6 bg-grey">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-box-03">
                        <h2 class="title-header">Maqolalar</h2>
                        <p>Dasturiy ta'minot va kiberxavfsizlik sohasida yozgan maqolalarimga shu yerda kirishingiz
                            mumkin.</p>
                    </div>
                </div>
            </div>
            <div class="row mt-4">

                <div class="col-md-6 col-lg-4">
                    <a href="articles/detail/django-admin-honey-pot.html">
                        <div class="blog-item" style="max-height: 470px;min-height: 470px">
                            <div class="image-blog">
                                <img src="https://brktrl.s3.eu-central-1.amazonaws.com/includes/pythondjango.jpg"
                                     alt="/" style="max-height: 200px">
                            </div>
                            <div class="blog-box">
                                <h5 class="Blog-title text-center">
                                    <a href="articles/detail/django-admin-honey-pot.html"
                                       class="btn btn-info btn-block font-weight-light">Django Admin  -  Honey Pot</a>
                                </h5>
                                <p class="mb-0 text-center">Djangoda admin Before saying what is Honeypot, let&#x27;s
                                    talk about what Honey Pot is in general.
                                </p>
                                <div class="blog-link text-center">
                                    <a class="text-center" href="articles/detail/django-admin-honey-pot.html"
                                       target="_blank">More...</a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-6 col-lg-4">
                    <a href="articles/detail/django-ratelimit.html">
                        <div class="blog-item" style="max-height: 470px;min-height: 470px">
                            <div class="image-blog">
                                <img src="https://brktrl.s3.eu-central-1.amazonaws.com/includes/pythondjango.jpg"
                                     alt="/" style="max-height: 200px">
                            </div>
                            <div class="blog-box">
                                <h5 class="Blog-title text-center">
                                    <a href="articles/detail/django-ratelimit.html"
                                       class="btn btn-info btn-block font-weight-light">Django Ratelimit</a>
                                </h5>
                                <p class="mb-0 text-center">What is ratelimit in Django and how to use it, in this
                                    article I will talk about it. Let&#x27;s consider this first.
                                </p>
                                <div class="blog-link text-center">
                                    <a class="text-center" href="articles/detail/django-ratelimit.html" target="_blank">More...</a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-6 col-lg-4">
                    <a href="articles/detail/django-multilanguage.html">
                        <div class="blog-item" style="max-height: 470px;min-height: 470px">
                            <div class="image-blog">
                                <img src="https://brktrl.s3.eu-central-1.amazonaws.com/includes/pythondjango.jpg"
                                     alt="/" style="max-height: 200px">
                            </div>
                            <div class="blog-box">
                                <h5 class="Blog-title text-center">
                                    <a href="articles/detail/django-multilanguage.html"
                                       class="btn btn-info btn-block font-weight-light">Django Multilanguage</a>
                                </h5>
                                <p class="mb-0 text-center">In this article, we will talk about translating static data
                                    into different languages ​​in django. In our next article, we will also translate
                                    our Djano Models into different langu…
                                </p>
                                <div class="blog-link text-center">
                                    <a class="text-center" href="articles/detail/django-multilanguage.html"
                                       target="_blank">More...</a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
        <div class="container">
            <a href="articles/index.html" class="btn btn-block pill-button-01 mt-5">Mening barcha maqolalarim</a>
        </div>
    </section>


    <section id="testimonial" class="testimonial-01 bg-transparent pt-5 pb-6">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-box-03">
                        <h2 class="title-header">Haqida</h2>
                        <p>Men haqimda batafsil</p>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12">
                    <div class="owl-carousel">

                        <div class="testimonial-item">
                            <div class="testimonial-image">
                                <img src="https://brktrl.s3.eu-central-1.amazonaws.com/references/1649685294360.png"
                                     alt="/">
                            </div>
                            <div class="testimonial-content">
                                <p class="testimonial-comment">"We are working with Berkay for different development
                                    processes of Coderspace. He adapted to the project very quickly, works beyond our
                                    expectations and provides his own contributions to the project. In addition to
                                    back-end development, thanks to its Cyber ​​Security background, it also shares its
                                    views and supports in that field."
                                </p>
                                <h6 class="testimonial-name">Ahmet Hoşgör<span class="testimonial-job">Co-Founder - Coderspace</span>
                                </h6>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="contact" class="contact-01 py-6">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-box-03">
                        <p style="font-size: 25px" class="title-header">Bog'lanish</p>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="info-box">
                                <div class="item-icon">
                                    <img src="../static/assets/img/message.svg" alt="/">
                                </div>
                                <div class="info-text">
                                    <h5 class=" mb-0">Mail bilan xabar qoldirish</h5>
                                    <small><a href="mailto:auz.offical@gmail.com">auz.offical@gmail.com</a></small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="info-box">
                                <div class="item-icon">
                                    <img src="../static/assets/img/linkedin.svg" alt="/">
                                </div>
                                <div class="info-text">
                                    <h5 class="mb-0">Linkedin</h5>
                                    <small><a href="https://www.linkedin.com/in/auzcoder/" target="_blank">Linkedin</a></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="contact-box">
                        <div class="contact-form">
                            <form id="contactForm" action="https://berkaysen.me/en/contact/" method="post">
                                <div class="row">
                                    <div class="col-lg-6 form-item">
                                        <div class="form-group">
                                            <input name="first_name" id="name" type="text" class="form-control"
                                                   placeholder="Ismingiz" required>

                                        </div>
                                    </div>
                                    <div class="col-lg-6 form-item">
                                        <div class="form-group">
                                            <input name="last_name" id="family" type="text" class="form-control"
                                                   placeholder="Familyangiz" required>

                                        </div>
                                    </div>

                                    <div class="col-lg-12 form-item">
                                        <div class="form-group">
                                            <input name="email" id="email" type="email" class="form-control"
                                                   placeholder="Email" required>

                                        </div>
                                    </div>

                                    <div class="col-12 form-item">
                                        <div class="form-group">
                                        <textarea name="message" id="comments" rows="4"
                                        class="form-control textarea"
                                        placeholder="Xabaringiz..."></textarea>

                                        </div>
                                    </div>
                                    <div class="col-sm-12 text-left">
                                        <button type="submit" class="btn pill-button-01" id="submit-btn"
                                                onclick="sendEmail()">Yuborish
                                        </button>
                                        <div id="message" class="toast" role="alert" aria-live="assertive"
                                             aria-atomic="true" data-delay="4000">
                                            <div class="toast-body d-inline-block"></div>
                                            <button type="button" class="pr-3 close" data-dismiss="toast"
                                                    aria-label="Close">
                                                <span aria-hidden="true" class="lni lni-close size-xs "></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <a class="return-to-top d-inline-block" href="javascript:void(0)"><i class="lni lni-arrow-up"></i></a>
</div>


<script data-cfasync="false"
        src="https://retrina.com/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="../static/assets/js/jquery-3.5.1.min.js"></script>
<script src="../static/assets/js/bootstrap.js"></script>
<script src="../static/assets/js/fontawesome.js"></script>
<script src="../static/assets/js/typed.js"></script>
<script src="../static/assets/js/jquery.countTo.js"></script>
<script src="../static/assets/js/isotope.pkgd.min.js"></script>
<script src="../static/assets/js/jquery.magnific-popup.min.js"></script>
<script src="../static/assets/js/owl.carousel.min.js"></script>
<script src="../static/assets/js/jquery.easing.min.js"></script>
<script src="../static/assets/js/main.js"></script>
<script src="../static/assets/js/code-snippet.js"></script>


</body>

<!-- Mirrored from berkaysen.me/en/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 22 Jan 2024 08:38:27 GMT -->
</html>