{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<!-- Abdulhafiz Davlatov -->
<div data-spy="scroll" data-target="#scrollspy" data-offset="61" class="westin-dark" xmlns="http://www.w3.org/1999/html">
    <header id="header" class="header fixed-top">
        <nav id="scrollspy" class="navbar navbar-expand-lg header-nav">
            <div class="container">
                <a class="navbar-brand base-color" href="{% url 'home' %}">Abdulhafiz Davlatov</a>
                <button class="navbar-toggler collapsed " type="button" data-toggle="collapse"
                        data-target="#toggle-menu"
                        aria-controls="toggle-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="lni lni-menu"></span>
                </button>
                <div class="collapse navbar-collapse" id="toggle-menu">
                    <ul class="navbar-nav nav-pills ml-auto">
                        <li class="nav-item">
                            <span class="badge badge-pill badge-danger"
                                  style="float:right;margin-bottom:-20px;margin-right:-4px;font-size:10px">New </span>
                            <a class="nav-link"
                               href="#">Darslarim</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link "
                               href="#">Lohiyalarim</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link "
                               href="#">Maqolalar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"> Sertifikatlarim</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Seminars</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#testimonial">Haqida</a>
                        </li>

                        <li class="nav-item" style="padding: 5px;margin:0;">
                            <div class="dropdown">
                                <button class="btn btn-secondary btn-sm dropdown-toggle " style="padding: 5px;margin:0;"
                                        type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false">

                                    <img src="../static/assets/img/en_flag.png" alt="en_flag_image" width="22" height="17" loading="lazy"> UZ

                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton"
                                     style="background-color: #181A1B;margin:0;min-width:8rem">

                                    <a class="dropdown-item" style="padding-left: 15px" href="{% url 'set-language' 'uz' %}">
                                        <img src="../static/assets/img/tr_flag.png" width="22" height="17px" alt="tr_flag_image">
                                        O'zbek
                                    </a>
                                    <a class="dropdown-item" style="padding-left: 15px" href="{% url 'set-language' 'en' %}">
                                        <img src="../static/assets/img/en_flag.png" width="22" height="17" alt="en_flag_image">
                                        English
                                    </a>

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

{% for i in about %}
    <section class="hero-03" id="hero">
        <div class="container">
            <div class="hero-content">

                <div class="row">
                    <div class=" col-lg-4">
                        <div class="personal-img">
                            <img src="{{ i.image.url }}" style="max-width: 100%;width:500px" alt="/">
                        </div>
                    </div>

                    <div class="col-lg-8 personal-item">
                        <h1 class="mb-3">{{ i.fullname }}</h1>
                        <h2>{{ i.position }}</h2>
                        <div class="row">
                            <div class="col-6 col-lg-5 personal-info">
                                <ul class="list-unstyled">
                                    <li>Manzil :
                                        <small> {{ i.manzil }}</small>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-6 col-lg-5 personal-info">
                                <ul class="list-unstyled">
                                    <li>Email : <small>{{ i.email }}</small></li>
                                </ul>
                            </div>
                            <div class="col-lg-12">
                                <div class="social-icon">
                                    <ul class="list-inline py-2 mb-0">
                                        {% for a in i.social.all %}
                                            <li class="list-inline-item">
                                                <a href="https://github.com/auzcoder" target="_blank" style="font-size: 35px;">
                                                    {{ a.icon | safe }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about" class="about-03 py-6 ">
        <div class="container">

            <div class="skills-01">
                <div class="row mt-0 mt-lg-5">
                    <div class="col-lg-6">
                        <h3 class="base-color">Ko'nikmalar</h3>
                        <p class="text-left">{{ i.content | safe }}</p>
{#                        <p class="text-left">#}
{#                            I Have Developed Myself From Various Sources In Web Application Development,#}
{#                            And I Take An Active Role In Many Areas From Teaching Them At My University To Explaining /#}
{#                            Transferring#}
{#                            The Information I Have Learned Through Practice, Through Articles I Write.#}
{#                            I Am Proficient In Python, Django, Django Rest Framework, Sql, PostgreSQL, Relational#}
{#                            Databases, Html, Css, Javascript, Basic Bootstrap, Vuejs, Linux, Performing Penetration#}
{#                            Tests.#}
{#                        </p>#}
                    </div>
                    <div class="col-lg-6">
                        <div id="skills" class="row d-flex">

                            {% for a in i.skill.all|dictsort:"id" %}
                                <div class="col-lg-6 skill-box">
                                    <div class="skillbar clearfix" data-percent="100%">
                                        <div class="skillbar-title"><span>{{ a.name }}</span></div>
                                        <div class="skillbar-bar" style="background-color: {{ a.color }}"></div>
                                        <div class="skill-bar">
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>


            <div class="resume-01 pt-6">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title-box-03">
                            <h2 class="title-header">Rezyume</h2>
                            <p>Siz mening tajribam va ta'lim haqidagi ma'lumotni shu yerda olishingiz mumkin.</p>
                        </div>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-md-6">
                        <h5 class="title-resume">
                            <img src="{% static 'assets/img/reading.svg' %}" alt="/">
                            Tajriba
                        </h5>
                        <div class="timeline-boxes">

                            {% for i in tajriba %}
                                {% if i.is_active == True %}
                                    <div class="timeline-boxe">
                                        <div class="timeline-icon" style="background-color: #0cc919; border: 1px solid #0cc919"></div>
                                        <div class="timeline-contents">
                                            <div class="time-line-header">
                                                <h6 class="timeline-title">{{ i.name }}</h6>
                                                <p class="timeline-year">
                                                    {{ i.started_at | date:'m.Y' }} -
                                                    {% if not i.ended_at == None %}
                                                        {{ i.ended_at | date:'m.Y' }}
                                                    {% else %}
                                                        Hozirda
                                                    {% endif %}
                                                </p>
                                                <p class="timeline-year" style="background-color: #19b400">
                                                    {{ i.center }}
                                                </p>
                                            </div>
                                            <div class="timeline-content">
                                                <p class="mb-0">
                                                    {{ i.content | safe }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="timeline-boxe">
                                        <div class="timeline-icon"></div>
                                        <div class="timeline-contents">
                                            <div class="time-line-header">
                                                <h6 class="timeline-title">{{ i.name }}</h6>
                                                <p class="timeline-year">
                                                    {{ i.started_at | date:'m.Y' }} -
                                                    {% if not i.ended_at == None %}
                                                        {{ i.ended_at | date:'m.Y' }}
                                                    {% else %}
                                                        Hozirda
                                                    {% endif %}
                                                </p>
                                                <p class="timeline-year" style="background-color: #19b400">
                                                    {{ i.center }}
                                                </p>
                                            </div>
                                            <div class="timeline-content">
                                                <p class="mb-0">
                                                    {{ i.content | safe }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}

                        </div>
                    </div>
                    <div class="col-md-6">
                        <h5 class="title-resume">
                            <img src="../static/assets/img/graduated.svg" alt="/">
                            Ta'lim
                        </h5>
                        <div class="timeline-boxes">
                            {% for i in talim %}
                                {% if i.is_active == True %}
                                    <div class="timeline-boxe">
                                        <div class="timeline-icon" style="background-color: #0cc919; border: 1px solid #0cc919"></div>
                                        <div class="timeline-contents">
                                            <div class="time-line-header">
                                                <h6 class="timeline-title">{{ i.name }}</h6>
                                                <p class="timeline-year">
                                                    {{ i.started_at | date:'m.Y' }} -
                                                    {% if not i.ended_at == None %}
                                                        {{ i.ended_at | date:'m.Y' }}
                                                    {% else %}
                                                        Hozirda
                                                    {% endif %}
                                                </p>

                                                <p class="timeline-year" style="background-color: #008187">
                                                    {{ i.course }}
                                                </p>

                                            </div>
                                            <div class="timeline-content">
                                                <p class="mb-0">
                                                    {{ i.content }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="timeline-boxe">
                                        <div class="timeline-icon"></div>
                                        <div class="timeline-contents">
                                            <div class="time-line-header">
                                                <h6 class="timeline-title">{{ i.name }}</h6>
                                                <p class="timeline-year">
                                                    {{ i.started_at | date:'m.Y' }} -
                                                    {% if not i.ended_at == None %}
                                                        {{ i.ended_at | date:'m.Y' }}
                                                    {% else %}
                                                        Hozirda
                                                    {% endif %}
                                                </p>

                                                <p class="timeline-year" style="background-color: #008187">
                                                    {{ i.course }}
                                                </p>

                                            </div>
                                            <div class="timeline-content">
                                                <p class="mb-0">
                                                    {{ i.content }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
{% endfor %}

    <section id="certificates" class="blog-01 py-6 bg-grey ">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-box-03">
                        <h2 class="title-header">Loyihalar</h2>
                        <p>Men ishlab chiqqan yirik loyihalarimga shu yerda kirishingiz mumkin. Tafsilotlar uchun
                            loyihani bosing.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row mt-4">

                {% for i in loyiha %}
                    <div class="col-md-6 col-lg-4 infinite-item">
                        <div class="blog-item" style="max-height: 530px;min-height: 530px">
                            <a href="#">
                                <div class="image-blog">
                                    <img src="{{ i.image.url }}" alt="/" width="100%" height="176px">
                                </div>
                            </a>
                            <div class="blog-box">
                                <div class="blog-time text-center badge-success m-2" style="border-radius: 10px">
                                    {{ i.started_at }}
                                </div>
                                <h5 class="Blog-title mb-0 text-center"><a href="#">{{ i.name }}</a></h5>
                                <div align="center">
                                    {% for tech in i.techno.all %}
                                        <span class="badge" style="background-color: {{ tech.color }}">{{ tech.name }}</span>
                                    {% endfor %}
                                </div>
                                <p class="mb-0 text-center mt-2">
                                    {{ i.description }}
                                </p>
                                <div class="blog-link">
                                </div>
                            </div>
                            <div align="center">
                                <a href="#" class="btn btn-outline-danger mt-3">Tafsilotlar</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
        <div class="container">
            <a href="#" class="btn btn-block pill-button-01 mt-5">Barcha loyihalar</a>
        </div>
    </section>

    <section id="certificates" class="blog-01 py-6 bg-grey">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-box-03">
                        <h2 class="title-header">Sertifikatlar</h2>
                        <p>Men dasturiy ta'minot va kiberxavfsizlik sohasida olgan sertifikatlarim bilan bu yerda
                            tanishishingiz mumkin.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row mt-4">

                {% for i in sertifikat %}
                    <div class="col-md-6 col-lg-4 infinite-item">
                        <div class="blog-item" style="max-height: 600px;min-height: 600px">
                            <a href="#">
                                <div class="image-blog">
                                    {% if i.image %}
                                        <img src="{{ i.image.url }}" alt="/" width="100%" height="240px">
                                    {% else %}
                                        <img src="https://marketplace.canva.com/EAFGv9WhSmc/1/0/1600w/canva-blue-and-yellow-minimalist-employee-of-the-month-certificate-jaIc19nYjY4.jpg" alt="/" width="100%" height="240px">
                                    {% endif %}
                                </div>
                            </a>
                            <div class="blog-box">
                                <div class="blog-time text-center badge-success m-2" style="border-radius: 10px">
                                    {{ i.started_at }}
                                </div>
                                <h5 class="Blog-title mb-0 text-center"><a href="#">{{ i.name }}</a></h5>
                                <div align="center">
                                    <span class="badge badge-danger">{{ i.techno }}</span>
                                </div>
                                <p class="mb-0 text-center">{{ i.description | truncatewords:18 }}</p>
                                <div class="blog-link">
                                </div>
                            </div>
                            <div class="blog-time mt-3 text-center">{{ i.company }}</div>
                            <div align="center">
                                <a href="#"
                                   class="btn btn-outline-warning mt-3">Tafsilotlar</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
        <div class="container">
            <a href="#" class="btn btn-block pill-button-01 mt-5">Mening barcha sertifikatlarim</a>
        </div>
    </section>


{#    <section id="galleries" class="blog-01 py-6 bg-grey">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-lg-12">#}
{#                    <div class="title-box-03">#}
{#                        <h2 class="title-header">My Training and Seminars</h2>#}
{#                        <p>You can reach the visuals of the trainings and seminars I have given in the field of software#}
{#                            and cyber security.</p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="row mt-4">#}
{##}
{#                <div class="col-md-6 col-lg-4 infinite-item">#}
{#                    <div class="blog-item">#}
{#                        <a>#}
{#                            <div class="image-blog">#}
{#                                <img src="https://brktrl.s3.eu-central-1.amazonaws.com/user/17.jpg" alt="/" width="100%"#}
{#                                     height="240px">#}
{#                            </div>#}
{#                        </a>#}
{#                        <div class="blog-box">#}
{#                            <h5 class="Blog-title mb-4 mt-4 text-center"><a class="btn btn-danger">XSS Training</a></h5>#}
{#                            <p class="mb-0 text-center"></p>#}
{#                            <div class="blog-link">#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-md-6 col-lg-4 infinite-item">#}
{#                    <div class="blog-item">#}
{#                        <a>#}
{#                            <div class="image-blog">#}
{#                                <img src="https://brktrl.s3.eu-central-1.amazonaws.com/user/24.jpg" alt="/" width="100%"#}
{#                                     height="240px">#}
{#                            </div>#}
{#                        </a>#}
{#                        <div class="blog-box">#}
{#                            <h5 class="Blog-title mb-4 mt-4 text-center"><a class="btn btn-danger">Database-2#}
{#                                Training</a></h5>#}
{#                            <p class="mb-0 text-center"></p>#}
{#                            <div class="blog-link">#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-md-6 col-lg-4 infinite-item">#}
{#                    <div class="blog-item">#}
{#                        <a>#}
{#                            <div class="image-blog">#}
{#                                <img src="https://brktrl.s3.eu-central-1.amazonaws.com/user/26.jpg" alt="/" width="100%"#}
{#                                     height="240px">#}
{#                            </div>#}
{#                        </a>#}
{#                        <div class="blog-box">#}
{#                            <h5 class="Blog-title mb-4 mt-4 text-center"><a class="btn btn-danger">SQL Injection#}
{#                                Training</a></h5>#}
{#                            <p class="mb-0 text-center"></p>#}
{#                            <div class="blog-link">#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#            </div>#}
{#        </div>#}
{#        <div class="container">#}
{#            <a href="seminars/index.html" class="btn btn-block pill-button-01 mt-5">All My Trainings and Seminars</a>#}
{#        </div>#}
{#    </section>#}


    <section id="blog" class="blog-01 py-6 bg-grey">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-box-03">
                        <h2 class="title-header">Maqolalar</h2>
                        <p>Dasturiy ta'minot va kiberxavfsizlik sohasida yozgan maqolalarimga shu yerda kirishingiz
                            mumkin.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row mt-4">

                {% for i in maqola %}

                    <div class="col-md-6 col-lg-4">
                        <a href="#">
                            <div class="blog-item" style="max-height: 470px;min-height: 470px">
                                <div class="image-blog">
                                    <img src="{{ i.image.url }}"
                                         alt="/" style="max-height: 200px">
                                </div>
                                <div class="blog-box">
                                    <h5 class="Blog-title text-center">
                                        <a href="#"
                                           class="btn btn-info btn-block font-weight-light">{{ i.name }}</a>
                                    </h5>
                                    <p class="mb-0 text-center">
                                        {{ i.description }}
                                    </p>
                                    <div class="blog-link text-center">
                                    </div>
                                </div>
                                <div align="center">
                                    <a href="#" class="btn btn-outline-danger mt-3">Batafsil</a>
                                </div>
                            </div>
                        </a>
                    </div>

                {% endfor %}

            </div>
        </div>
        <div class="container">
            <a href="#" class="btn btn-block pill-button-01 mt-5">Mening barcha maqolalarim</a>
        </div>
    </section>


    <section id="testimonial" class="testimonial-01 bg-transparent pt-5 pb-6">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-box-03">
                        <h2 class="title-header">Haqida</h2>
                        <p>Men haqimda batafsil</p>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12">
                    {% for i in about %}
                        <div class="owl-carousel">

                            <div class="testimonial-item">
                                <div class="testimonial-image">
                                    <img src="{{ i.image2.url }}"
                                         alt="/">
                                </div>
                                <div class="testimonial-content">
                                    <p class="testimonial-comment">{{ i.biography | safe }}</p>
                                    <h6 class="testimonial-name">{{ i.fullname }}<span class="testimonial-job">{{ i.position }}</span>
                                    </h6>
                                </div>
                            </div>

                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    {% block contact %}
        {% include 'contact/contact.html' %}
    {% endblock contact %}

    <a class="return-to-top d-inline-block" href="javascript:void(0)"><i class="lni lni-arrow-up"></i></a>
</div>

{% endblock content %}
