{% load static %}

{% block navbar %}

<!-- Abdulhafiz Davlatov -->

    <header id="header" class="header fixed-top">
        <nav id="scrollspy" class="navbar navbar-expand-lg header-nav">
            <div class="container">
                <a class="navbar-brand base-color" href="{% url 'home' %}">Abdulhafiz Davlatov</a>
                <button class="navbar-toggler collapsed " type="button" data-toggle="collapse"
                        data-target="#toggle-menu"
                        aria-controls="toggle-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="lni lni-menu"></span>
                </button>
                <div class="collapse navbar-collapse" id="toggle-menu">
                    <ul class="navbar-nav nav-pills ml-auto">
                        <li class="nav-item">
                            <span class="badge badge-pill badge-danger"
                                  style="float:right;margin-bottom:-20px;margin-right:-4px;font-size:10px">New </span>
                            <a class="nav-link"
                               href="#">Darslarim</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link "
                               href="#">Lohiyalarim</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link "
                               href="#">Maqolalar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"> Sertifikatlarim</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Seminars</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#testimonial">Haqida</a>
                        </li>

                        <li class="nav-item" style="padding: 5px;margin:0;">
                            <div class="dropdown">
                                <button class="btn btn-secondary btn-sm dropdown-toggle " style="padding: 5px;margin:0;"
                                        type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                        aria-haspopup="true"
                                        aria-expanded="false">

                                    <img src="../static/assets/img/en_flag.png" alt="en_flag_image" width="22" height="17" loading="lazy"> UZ

                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton"
                                     style="background-color: #181A1B;margin:0;min-width:8rem">

                                    <a class="dropdown-item" style="padding-left: 15px" href="{% url 'set-language' 'uz' %}">
                                        <img src="../static/assets/img/tr_flag.png" width="22" height="17px" alt="tr_flag_image">
                                        O'zbek
                                    </a>
                                    <a class="dropdown-item" style="padding-left: 15px" href="{% url 'set-language' 'en' %}">
                                        <img src="../static/assets/img/en_flag.png" width="22" height="17" alt="en_flag_image">
                                        English
                                    </a>

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


{% endblock navbar %}
