{% load static %}

{#<style>#}


{#</style>#}

{% block contact %}

    <section id="contact" class="contact-01 py-6">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-box-03">
                        <p style="font-size: 25px" class="title-header">Bog'lanish</p>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="info-box">
                                <div class="item-icon">
                                    <img src="{% static 'assets/img/message.svg' %}" alt="/">
                                </div>
                                <div class="info-text">
                                    <h5 class=" mb-0">Mail bilan xabar qoldirish</h5>
                                    <small><a href="mailto:auz.offical@gmail.com">auz.offical@gmail.com</a></small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="info-box">
                                <div class="item-icon">
                                    <img src="{% static 'assets/img/linkedin.svg' %}" alt="/">
                                </div>
                                <div class="info-text">
                                    <h5 class="mb-0">Linkedin</h5>
                                    <small><a href="https://www.linkedin.com/in/auzcoder/" target="_blank">Linkedin</a></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="contact-box">
                        <div class="contact-form">
                            <form id="contactForm" action="{% url 'home' %}" method="post">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-6 form-item">
                                        <div class="form-group">
                                            <input name="firstname" id="firstname" type="text" class="form-control"
                                                   placeholder="Ismingiz" aria-label="" required>

                                        </div>
                                    </div>
                                    <div class="col-lg-6 form-item">
                                        <div class="form-group">
                                            <input name="lastname" id="lastname" type="text" class="form-control"
                                                   placeholder="Familyangiz" aria-label="" required>

                                        </div>
                                    </div>

                                    <div class="col-lg-12 form-item">
                                        <div class="form-group">
                                            <input name="email" id="email" type="email" class="form-control"
                                                   placeholder="Email" aria-label="" required>

                                        </div>
                                    </div>

                                    <div class="col-12 form-item">
                                        <div class="form-group">

                                        <textarea name="message" id="message" rows="4" class="form-control textarea"
                                                  placeholder="Xabaringiz..." aria-label=""></textarea>

                                        </div>
                                    </div>

                                    <div class="col-sm-12 text-left">
                                        <button type="submit" class="btn pill-button-01" id="submit-btn"
                                                onclick="sendsEmail()">Yuborish
                                        </button>
                                        <div id="message" class="toast" role="alert" aria-live="assertive"
                                             aria-atomic="true" data-delay="4000">
                                            <div class="toast-body d-inline-block"></div>
                                            <button type="button" class="pr-3 close" data-dismiss="toast"
                                                    aria-label="Close">
                                                <span aria-hidden="true" class="lni lni-close size-xs "></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">

        function sendsEmail() {
            event.preventDefault();  // Formani odatiy submit qilishini to'xtatish
            $.ajax({
                type: 'POST',
                url: '{% url "contact" %}',  // URL'ni Django URL nomi bilan almashtiring
                data: {
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    firstname: $('#firstname').val(),
                    lastname: $('#lastname').val(),
                    email: $('#email').val(),
                    message: $('#message').val()
                },

                success: function (response) {
                    Swal.fire({
                      toast: true,
                      position: "bottom-end",
                      icon: "success",
                      title: "Xabaringiz yuborildi!",
                      showConfirmButton: false,
                      timer: 1500
                    }).then(function () {
                        location.reload();
                    });
                },
                error: function (response) {
                    Swal.fire({
                      toast: true,
                      position: "bottom-end",
                      icon: "error",
                      title: "Xabar yuborilmadi!",
                      showConfirmButton: false,
                      timer: 1500
                    });
                },
            });
        }
    </script>


{% endblock contact %}